html,body{
    height: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    border-bottom: solid black;
}

#logo_name a{
    color: whitesmoke;
    font-size: 1.6em;
    font-weight: bold;

    
}

#logo_name:hover a{
    
    text-decoration: none;

    text-shadow: 1px 1px 2px whitesmoke;

}

.navbar-dark .navbar-nav .nav-link{
    font-size: 1.15em;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: white;
}



